.RegisterSection
{
    position: relative;
    background-image: url(../../images/PublicBG.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.registerForm
{
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 20px;
    box-shadow: -2px -4px 6px rgb(255, 34, 34);
}

.leftSide
{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 20px;
}

.haveAcc
{
    font-size: 12px;
}
.haveAcc:hover
{
    color: white;
    filter: drop-shadow(3px 2px 1.5px red);
}
.registerForm form ::placeholder
{
    color: rgba(255, 255, 255, 0.87);
    font-size: 13px;    
    font-family: DMSans-Bold;
}
.registerForm form input
{
    padding: 3px 5px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: DMSans;
}
.registerForm form input:focus
{
    color: white;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(255, 1, 1, 0.4);
}

.brandName P .SmallCharacter
{
    color: white;
    font-size: 110px;
    letter-spacing: 5px;
    font-family: Aquire-Bold;
    filter: drop-shadow(4px 3px 1.5px red);
}
.brandName p .CapitalCharacter
{
    color: #ff0000;;
    font-size: 150px;
    font-family: Aquire-Bold;
    filter: drop-shadow(4px 3px 1.5px white)    ;
}




/* Logo */
.regtangel
{
    position: relative;
    width: 150px;
    height: 25px;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 0px 6px 3px red;
}
.point_one,
.point_two,
.point_three,
.point_four
{
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 3px red;
}
.pill
{
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 70px;
    box-shadow: 0px 0px 6px 3px red;
}
.regtangel::after
{
    content: '';
    position: absolute;
    bottom: -50%;
    right: 10%;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 6px 3px red;
}
.regtangel::before
{
    content: '';
    position: absolute;
    bottom: -50%;
    left: 10%;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 6px 3px red;
}